.itemDetail {
    margin: 4%;
    background-color: #dff3e9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
        "fotoDetalle itemNombre"
        "fotoDetalle contenedorPropiedades"
        ;

}
.contenedorPropiedades {
    grid-area: contenedorPropiedades;
    padding: 1%;
    margin: 1%;
}
.itemNombre {
    grid-area: itemNombre;
    color: rgb(5, 109, 83);
    padding-top: 5%;   
}
.fotoDetalle {
    margin: 3%;
    width:400px;
    border-radius: 10px;
    grid-area: fotoDetalle;
}
.itemDescription{
    margin: auto 5% auto 5%;
    font-size: 15px;
}
.stock {
    color: rgb(5, 109, 83);
    font-size: 13px;
}
.itemAgregado {
    color:rgb(5, 109, 83);
    font-size: 14px;
}
