.listado {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.itemLista {
    align-self: center;
    width: 200px;
    margin: 0% 2% 2% 2%;
    font-size: 16px;
    font-weight: normal;

}

.selectCategoria {
    margin: 2%;
    color:  #277950;
}
.selectCategoria select {
    background-color:mintcream;
    color:  #277950;
    border-radius: 10px;
    opacity: 70%;
}
.selectCategoria select option {
    opacity: 50%;

}
