.listado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}



.selectCategoria {
    margin: 2%;
    color:  #277950;
}
.selectCategoria select {
    background-color:mintcream;
    color:  #277950;
    border-radius: 10px;
    opacity: 70%;
}
.selectCategoria select option {
    opacity: 50%;

}



