header {
  background-color: #80ceaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: mintcream;
  padding-top: 30px;
}

.logo {
  width: 20%;
  margin-top: 0%;
}
.botonesDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: space-evenly;
  text-align: right;
  margin-right: 3%;
  margin-bottom: 0%;
  padding-top: 1%;

}
.userEmail {
  font-size: 14px;
  color: #1c5c3c;
  margin-top: 4px;
}


