nav {
  width: 100%;
  margin: 0%;
  background-color: #86d4b0;
}
nav ul {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  display: flex;
  flex-direction: row;
  justify-content: justify;
  align-items: center;
  list-style: none;
}

nav ul li {
  font-size: 17px;
  text-decoration: none;
  color: #277950;
  padding: 0%;
}
nav ul li:hover {
  color: mintcream;
}

.subMenu {
  display: none;
}
.menuProductos:hover .subMenu {
  display: inline;
  z-index: 5;
  background-color: #98dbbc;
  padding-left: 0%;
  position: absolute;
}
.menuProductos:hover .subMenu li {
  padding: auto;
  font-size: 15px;
  text-align: left;
}
.menuProductos {
  font-size: 17px;
  text-decoration: none;
  color: #277950;
  margin: 0%;
}
