.App {
  text-align: center;
    background-color: #80ceaa;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #80ceaa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: mintcream;
}
.parrafo {
  color: #253b2d;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li {
  margin: 5%;
}
a{
  text-decoration: none;
  color: #277950;
}
a:hover {
  color: mintcream;
  font-size: larger;
  
}

.DivProductCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}



