.cart {
    margin-bottom: 2%;
}
.itemCart {
    background-color: #dff3e9;
    width: 80%;
    margin: 1% 10% 1% 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "itemName botonRemove"
    "itemDescription itemDescription";
    border-radius: 10px;
}

.itemCart h6 {
    font-size: 16px;
    margin: 2%;
}
.itemName {
    font-size: 18px;
    margin: 1%;
    width: 80%;
    text-align: left;
    text-indent: 4%;
    grid-area: itemName;
    padding:2% 0% 2% 0%;
}
ul.itemDescription {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    grid-area: itemDescription;
}
ul.itemDescription li{
    text-align: left;
    margin: 1%;
}

.botonRemove {
    grid-area: botonRemove;
}
.divButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cartResumen{
    background-color: rgb(163, 212, 188);
    width: 80%;
    border-radius: 10px;
    margin:auto;
    padding: 1%;
}